[submodule "lib/RxCpp"]
	path = lib/RxCpp
	url = git@github.com:ReactiveX/RxCpp.git
[submodule "lib/libmk2"]
	path = lib/libmk2
	url = git@github.com:SachiSakurane/libmk2.git
[submodule "lib/JUCE"]
	path = lib/JUCE
	url = git@github.com:juce-framework/JUCE.git
